/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

a {
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: underline;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar .pure-menu-link {
  color: #fff;
}

.navbar .pure-menu-link:active,
.navbar .pure-menu-link:focus,
.navbar .pure-menu-link:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.navbar .profile-icon {
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 50%;
}

/* Footer */
.footer {
  color: black;
  font-weight: lighter;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid;
  border-color: rgba(35, 62, 94, .05);
  background-color: white;
}

/* Profile */
.profile-balance {
  font-weight: lighter;
}

/* Table */

table.store-owner-list {
  min-width: 550px;
}

.no-border {
  border: 0px;
}

thead.no-background-color {
  background-color: transparent;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

.add-form {
  max-width: 550px;
}

form button {
  width: 100%;
  margin-left: 5px;
}

.pure-form input[type="number"] {
  min-width: 100px;
}

::placeholder {
  font-size: 0.6em;
}

.withdraw-wallet {
  font-size: 11px;
}

/* Product Image */

.product-image {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  height: 150px;
  width: 150px;
  margin: auto;
  border: thin;
  border-style: dashed;
  border-color: #233e5e;
  border-radius: 5%;
}

.product-image img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  border-radius: 5%;
}

.product-image div, .product-upload-status {
  font-size: 0.6em;
}

.transaction-product-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5%;
}

/* Homepage */

.card {
  width: 250px;
  margin: 5px;
  padding: 15px;
  border: thin;
  border-style: solid;
  border-color: rgba(35, 62, 94, .05);
  border-radius: 2%;
}

.card:hover {
  border-color: rgba(35, 62, 94, 0.5);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
  border: none;
  border-radius: 5%;
}

.card-image a {
  height: 100%;
  width: 100%;
}

.card-image img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.card-body {
  padding-top: 10px;
}

.card-body .card-title {
  font-weight: normal;
  color: inherit;
}

.card-body .card-title:visited {
  color: inherit;
}

.card-body .card-price {
  font-weight: bold;
}

.card-body .card-storefront {
  color: inherit;
}

.card-body .card-storefront:visited {
  color: inherit;
}

.card-body .buy {
  width: 100%;
  border-radius: 5px;
}